/**
 * Demo Styles
 */

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin:0;
  background-color:#ffffff;
  padding-bottom: 6rem;
  min-height: 100%;
  min-width: 100%;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
p{
  text-indent:20px; 
}
.allinthis {
  margin: 0 auto;
  padding-top:0px;
  max-width: 100%;
  background-color:#ffffff;
  width: 100%;
  clear: both;
}
.header{
	font-size:14;
	top:0px;
	height:40px;
	width:100%;
	position:fixed;
	background-color:#fff;
	z-index:15;
	clear: both;
}
/*------------------------------------------------------------------*/
.header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

.header li {
    float: left;
}

.header li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.header li a:hover:not(.active) {
    background-color: #ddd;
}

.header li a.active {
    color: white;
    background-color: #4CAF50;
}
/*------------------------------------------------------------------*/
.contanier{
	margin:55 auto;
	min-height:600px;
	width:85%;
	background-color:#fff;/*degiscek f9f9f0*/
	z-index:3;
	clear: both;
}
/**-About Page-**/
.about_contanier{
	margin:55 auto;
	min-height:600px;
	width:85%;
	background-color:#fff;/*degiscek f9f9f0*/
	z-index:3;
	clear: both;
}
.about_contanier > img{
	display: block;
	float:left;
	max-width:30%;
	height: auto;
}
.about_right_side{
	position:relative;
	text-align:center;
	top:50px;
	float:right;
	right:30px;
	height:200px;
	width:20%;/*400px-*/
	background-color:#fff;
}
.about_buttons{
	position:relative;
	display: inline-block;
	padding-top:8px;
	height:52px;
	max-width:300px;
	min-width:200px;
	width:80%;/*300*/
	border-color:#09f;
	border-style:solid;
}
.about_buttons img{	
	padding-right:5px;
	border-radius: 30%;
}
.gmail-content {
    display: none;
    position: absolute;
    background-color: #fff;
	left:50px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
}
a[title="gmail"]:hover .gmail-content {
    display: block;
}

.about_info{
	position:relative;
	float:left;
	top:50px;
	right:5px;
	left:0px;
	height:500px;
	width:45%;
	min-width:40%;
	background-color:#fff;/*degiscek efefef*/
}
/**--**/
.isabout{
	position:relative;
	margin:0 auto;
	top:50px;
	width:90%;
	min-height:400px;
	background-color:#f4f4f4;
	z-index:4;
	text-align:center;
	clear: both;
}
.isabout img{
	display: block;
	max-width:400px;
	max-height:400px;
	width: auto;
	height: auto;
}
.content{
	position:relative;
	margin:100px auto;
	width:90%;
	min-height:200px;
	background-color:#f4f4f4;
	z-index:4;
	clear: both;
}

a{
	text-decoration:none;
}

/*Footer Styles*/
.footer {
  font-size:12px;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}