/**
 * Demo Styles
 */

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin:0;
  background-color:#ffffff;
  min-height: 100%;
  min-width: 100%;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
p{
  text-indent:20px; 
}
/*--------------------------defaults-----------------------------*/
.allinthis {
  margin: 0 auto;
  padding-top:0px;
  max-width: 100%;
  background-color:#ffffff;
  width: 100%;
  clear: both;
}
.contanier{
	margin:55 auto;
	min-height:600px;
	width:85%;
	background-color:#fff;/*degiscek f9f9f0*/
	z-index:3;
	clear: both;
}
.isabout{
	position:relative;
	margin:0 auto;
	top:50px;
	width:90%;
	min-height:400px;
	background-color:#f4f4f4;
	z-index:4;
	text-align:center;
	clear: both;
}
.isabout img{
	display: block;
	max-width:400px;
	max-height:400px;
	width: auto;
	height: auto;
}
.content{
	position:relative;
	margin:100px auto;
	width:90%;
	min-height:200px;
	background-color:#f4f4f4;
	z-index:4;
	clear: both;
}

a{
	text-decoration:none;
}
/*-------------------------index-start------------------------------*/
.index_allinthis{
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
  background-image:url("../img/background.jpg");
  background-size: 100% 100%;
  width: 100%;
  height:100%;
  min-height:100%;
  text-align:center;
  padding-top:200px;
  clear: both;
  
}
.index_content{
	margin:auto;
	top:200px;
	height:300px;
	width:605px;
	color:#fff;
	text-align:center;
}
.index_content > h1{
	font-size:50px;
}
.index_buttons ul {
	padding-left:75px;
    list-style-type: none;
    overflow: hidden;
}
.index_buttons{
	position:relative;
	font-size:14;
	height:90px;
	padding-top:5px;
	width:100%;
	min-width:605px;
	clear: both;
}
.index_buttons li {
	padding-right:75px;
    float: left;
}

.index_buttons li a {
	border-radius:8%;
    display: block;
    color: #fff;
    padding: 14px 16px;
	border: 1px solid #ddd;
	background-color:#333;
    text-decoration: none;
	min-width:100px;
    transition: 0.4s;
}

.index_buttons li a:hover:not(.active) {
	background-color:#09f;
}

.index_buttons li a.active {
    color: white;
    background-color: #4CAF50;
}
.index_footer {
  font-size:10px;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px;
  color:#09f;
  text-align: center;
}
.index_footer:hover:not(.active) {
  font-size:12px;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px;
  background-color:#09f;
  color:#fff;
  text-align: center;
  transition:0.4s;
}
/*---------------------------index End------------------------------*/
/*---------------------------Header Start---------------------------*/
.header{
	font-size:14;
	top:0px;
	height:40px;
	width:100%;
	position:fixed;
	background-color:#fff;
	z-index:15;
	clear: both;
}
.header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

.header li {
    float: left;
}

.header li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.header li a:hover:not(.active) {
    color:white;
	background-color: #09f;/*ddd*/
	transition: 0.3s;
}

.header li a.active {
    color: white;
    background-color: #4CAF50;
}
/*---------------------------Header End-----------------------------*/

/*--------------------------About Page------------------------------*/
.about_contanier{
	margin:55 auto;
	min-height:600px;
	width:85%;
	background-color:#fff;/*degiscek f9f9f0*/
	z-index:3;
	clear: both;
}
.about_contanier > img{
	display: block;
	float:left;
	height:55%;
	width:25%;
	min-height:%40;
	min-width:25%;
	max-width:30%;
	max-height:55%;
}
.about_right_side{
	position:relative;
	text-align:center;
	top:50px;
	float:right;
	right:30px;
	height:200px;
	width:20%;/*400px-*/
	background-color:#fff;
}
.about_buttons{
	position:relative;
	display: inline-block;
	padding-top:8px;
	height:52px;
	max-width:200px;
	min-width:150px;
	width:70%;/*300*/
	border-color:#09f;
	border-style:solid;
}
.about_buttons img{	
	padding-right:8px;
	border-radius: 30%;
}
.gmail-content {
    display: none;
    position: absolute;
    background-color: #fff;
	left:10px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
}
a[title="gmail"]:hover .gmail-content {
    display: block;
}

.about_info{
	position:relative;
	float:left;
	top:50px;
	left:3%;
	height:500px;
	width:45%;
	min-width:40%;
	background-color:#fff;/*degiscek efefef*/
}
/*-------------------------About end--------------------------------*/
/*-------------------------Works start------------------------------*/
.works_content{
	margin:100px auto;
	width:100%;
	height:100px;
	text-align:center;
}
/*-------------------------Works end-------------------------------*/
/*-------------------------Team start------------------------------*/
.team_content{
	margin:100px auto;
	width:100%;
	height:100px;
	text-align:center;
}
/*-------------------------Team end-------------------------------*/
/*Footer Styles*/
.footer {
  font-size:12px;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px;
  background-color: #efefef;
  text-align: center;
}